@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ font: white;  }
	.navbar .nav-item:hover .nav-link{ color: black;  }
	.navbar .nav-item:hover .nav-link{ background-color: black;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
nav{
	float:right;
}
.brand{
	color:white;
	text-decoration:none
	
}
.brand:hover{
	background-color:balck;
	color:white;
}
nav{
	height:100px;
}
.nav2 li {
    margin-right: 500px;
}
li {
    display: inline;
    margin-right: 40px;
}
ul.navbar.nav { flex-direction: column; display: flex; } 