@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ font: white;  }
	.navbar .nav-item:hover .nav-link{ color: white;  }
	.navbar .nav-item:hover .nav-link{ background-color: black;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
nav{
	
	width: 100%
}
.brand{
	color:black;
	text-decoration:none

	
}
.brand:hover{
	background-color:balck;
	color:black;
}
.nav2 li {
    margin-right: 500px;
}
li {
    display: inline;
    margin-right: 40px;
}
ul.navbar.nav { flex-direction: column; display: flex; } 
#profile h1{
	position:absolute;
	margin-top:27%;
	margin-left:40%
}
#space{
	padding-top:40px;
}
#aboutme{
	padding-top:40px;
}
.row1{
	width: 48%;
	height: 500px;
	float: left;
}
.row2{
	width: 48%;
	height: 500px;
	float: right;
}
.r1{
	width: 48%;
	height: 500px;
	float: right;
}
#foot{
	float: right;
	padding-top:150px;

}
#fooot{
	 height: 200px;
	 background-color: gray;
}